$primary: #188886;
$secondary: #136967;
$error: #dd8d09;
//$tertiary: #c7eb00;

@import "bootstrap/bootstrap";

html body {
  font-family: Linotte, serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
}

/* User Details */
#user_details {
  display: none;
  margin-left: 20px;
  margin-top: -25px;

  #matricola_value {
    font-size: xx-large;
  }

}


.main-container {
  margin-top: 30px;
  margin-bottom: 65px;
}

.logo {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.logo img {
  -webkit-transition: all 1s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all 1s;
  width: 100%;
  max-width: fit-content;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
}

a {
  color: #000;
}

a.nav-link:hover {
  color: $secondary !important;
}

.mainButton {
  font-size: 20px;
}

.popover-header {
  padding: 13px !important;
}

#session h3 {
  line-height: 40px;
}

#session .answer {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid $primary;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.09);
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#session .answer:hover,
#session .answer.selected,
#session .answer.correct {
  background-color: $primary;
  color: #fff;
  border-color: $primary;
}

#session .answer.wrong {
  background-color: #ad1c1c;
  color: #fff;
  border-color: #ad1c1c;
}

.radio input + span {
  height: auto;
}

.summaryLabel {
  font-size: xx-large;
  color: #424242;
}

.summary {
  font-size: 55px;

  span {
    font-size: 35px;
  }
}

.comment {
  font-size: x-large;
}

.questions {
  border-left: 1px solid;
  border-image: linear-gradient(#fff, mix($primary, #000), #fff) 0 100%;
  padding: 10px 0;
  overflow: hidden;

  .questions-done {
    font-size: xx-large;
  }

}

.time {

  display: none;
  margin-right: 20px;
  margin-top: -25px;

  .value {
    font-size: xx-large;
  }
}

.info {
  font-size: x-large;
}

#login-form {
  display: inline-grid;

  input {
    border: none;
    border-bottom: 2px solid #178886;
    margin-bottom: 20px;
    outline: none;
  }
}

#navigator {
  opacity: 0;
  height: 15px;
  box-shadow: 0 0 5px #0000002e;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
  margin: auto;

  span {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border: 3px solid #188886;
    top: -15px;
    position: relative;
    box-shadow: 0 0 30px #00000052;;
    background-color: white;
    font-size: 13px;
    cursor: pointer;
    margin: auto;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;

    &.active {
      background-color: $primary;
      color: #fff;
    }

    &.answered {
      background-color: $success;
      border-color: $success;
      color: #fff;
    }

    &.not-answered {
      background-color: $error;
      border-color: $error;
      color: #fff;
    }

  }

}

#navigator span:first-child {
  margin-left: 0;
}

#navigator span:last-child {
  margin-right: 0;
}

///////////////////

@font-face {
  font-family: Linotte;
  font-weight: normal;
  src: url("../font/Linotte/Linotte Regular.otf");
}

@font-face {
  font-family: Linotte;
  font-weight: bold;
  src: url("../font/Linotte/Linotte Bold.otf");
}
