$primary: #28913b;
$secondary: #7ad41d;
//$tertiary: #c7eb00;

@import "bootstrap/bootstrap";

html body {
  font-family: Linotte, serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.main-container {
  margin-top: 30px;
}

.logo {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.logo img {
  -webkit-transition: all 1s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all 1s;
  width: 100%;
  max-width: fit-content;
}

.logo.minimized img {
  width: 60%;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
}

a {
  color: #000;
}

a.nav-link:hover {
  color: $secondary !important;
}

#newGame {
  font-size: 20px;
}

.popover-header {
  padding: 13px !important;
}

.game h3 {
  line-height: 40px;
}

#game .answer {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #6ca977;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.09);
  cursor: pointer;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#game .answer:hover, #game .answer.selected, #game .answer.correct {
  background-color: $primary;
  color: #fff;
  border-color: $primary;
}

#game .answer.wrong {
  background-color: #ad1c1c;
  color: #fff;
  border-color: #ad1c1c;
}

.radio input + span {
  height: auto;
}

.summaryLabel {
  font-size: xx-large;
  color: #424242;
}

.summary {
  font-size: 55px;

  span {
    font-size: 35px;
  }
}

.comment {
  font-size: x-large;
}

.points {
  border-left: 1px solid;
  border-image: linear-gradient(#fff, mix($primary, #000), #fff) 0 100%;
  padding: 10px 0;
  overflow: hidden;

  .value {
    font-size: xx-large;
  }

}

.info {
  font-size: x-large;
}

///////////////////

@font-face {
  font-family: Linotte;
  font-weight: normal;
  src: url("../font/Linotte/Linotte Regular.otf");
}

@font-face {
  font-family: Linotte;
  font-weight: bold;
  src: url("../font/Linotte/Linotte Bold.otf");
}
